<nav id="sidebar" class="h-100">
    <a class="text-center w-100 mx-auto d-block" id="homepage" href="/ui/admin"><img id="logo" src="/img/catholic-school-logo.png" width="110" alt="logo"/></a>

    <ul class="list-unstyled components">
        <li>
            <a href="#addPupilMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle navLink">Учні</a>
            <ul class="collapse list-unstyled" id="addPupilMenu">
                <li>
                    <a class="navLink" href="/ui/classes/classList">Список учнів</a>
                    <a class="navLink" href="/ui/students/add">Додати учня</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#addTeacherMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle navLink">Вчителі</a>
            <ul class="collapse list-unstyled" id="addTeacherMenu">
                <li>
                    <a class="navLink" href="/ui/teachersList">Список вчителів</a>
                    <a class="navLink" href="/ui/teachers/add">Додати вчителя</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#addSubjectMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle navLink">Предмети</a>
            <ul class="collapse list-unstyled" id="addSubjectMenu">
                <li>
                    <a class="navLink" href="/ui/subjectList">Список предметів</a>
                    <a class="navLink" href="/ui/subjects/add">Додати предмет</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#addClassMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle navLink">Класи</a>
            <ul class="collapse list-unstyled" id="addClassMenu">
                <li>
                    <a class="navLink" href="/ui/classes/list">Список класів</a>
                    <a class="navLink" href="/ui/classes/add">Додати клас</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="navLink" href="/ui/teachers/add/journal">Додавання вчителя до журналу</a>
            <a class="navLink" href="/ui/schedule/create">Розклад</a>
            <a class="navLink" href="/ui/students/new-year-transition">Новий навчальний рік</a>
        </li>
    </ul>
</nav>