<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/admin"><img id="logo" src="/img/logo.png" width="216" height="68" alt="logo"/></a>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#addPupilMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle navLink">Учні</a>
            <ul class="collapse list-unstyled" id="addPupilMenu">
                <li>
                    <a class="navLink" href="/classes/classList">Список учнів</a>
                    <a class="navLink" href="/students/add">Додати учня</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#addTeacherMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle navLink">Вчителі</a>
            <ul class="collapse list-unstyled" id="addTeacherMenu">
                <li>
                    <a class="navLink" href="/teachersList">Список вчителів</a>
                    <a class="navLink" href="/teachers/add">Додати вчителя</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#addSubjectMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle navLink">Предмети</a>
            <ul class="collapse list-unstyled" id="addSubjectMenu">
                <li>
                    <a class="navLink" href="/subjectList">Список предметів</a>
                    <a class="navLink" href="/subjects/add">Додати предмет</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#addClassMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle navLink">Класи</a>
            <ul class="collapse list-unstyled" id="addClassMenu">
                <li>
                    <a class="navLink" href="/classes/list">Список класів</a>
                    <a class="navLink" href="/classes/add">Додати клас</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="navLink" href="/teachers/add/journal">Додавання вчителя до журналу</a>
            <a class="navLink" href="/schedule/create">Розклад</a>
            <a class="navLink" href="/students/new-year-transition">Новий навчальний рік</a>
        </li>
    </ul>
</nav>