<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="height: 80px;font-size: 16px">
    <a href="#" class="navbar-brand d-flex w-50 mr-auto">ProjectName</a>
    <div class="navbar-collapse collapse w-100">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="/ui/teachers/2/profile">Профіль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ui/journalsList/view">Журнали</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ui/stats">Успішність</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ui/teacher/2/edit">Редагувати профіль</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Вийти</a>
            </li>
        </ul>
    </div>
</nav>