<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/teachers/2/profile"><img id="logo" src="/img/logo.png" width="216" height="68" alt="logo"/></a>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a class="navLink" href="/teachers/2/profile">Домашня сторінка</a>
        </li>

        <li>
            <a class="navLink" href="/journalsList/view">Переглянути журнали</a>
        </li>

        <li>
            <a class="navLink" href="/stats">Переглянути успішність</a>
        </li>

        <li>
            <a class="navLink" href="/teacher/2/edit">Редагувати профіль</a>
        </li>
    </ul>
</nav>