form {
    margin: 0 auto;
    background: lightgoldenrodyellow;
    border: medium solid black;
    border-radius: 10px;
    width: 600px;
    padding: 15px
}

.div {
    border: medium solid black;
    margin: 20px;
    width: 525px;
    border-radius: 15px;
    padding: 15px;
}
 img {
     border: solid 10px;
     padding: 50px;
     border-radius: 5px;
     width: 100px;
     height: 100px;
 }
