table {
    border-collapse: collapse;
    width: 40%;
    margin: 20px auto;
}

.mark,.dateCell {
    text-align: center;
    padding: 8px;
}

#markPick{
    margin: auto;
    width: 40%;
}

select{
    display: inline-block;
}

#table_mark{
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

#table_mark thead th,#table_home thead th,#table_students thead th{
    border: 2px solid #ffffff;
    background-color: #343A40;
    color:white;
}
#table_mark td,#table_home td{
    background-color: #ffffff;
}

td,th{
    border: 2px solid #ddd;
    background-color: #ffffff;
}
.cl-3{
    width: 25%;
}
.cl-6{
    width: 50%;
}

#table_mark tr th:first-child, #table_mark tr td:first-child
{
    position:sticky;
    left:0px;
    box-shadow: 1px 0px 1px 1px #ddd;
}

#table_mark tr th:last-child, #table_mark tr td:last-child
{
    position:sticky;
    right:0px;
    box-shadow: -1px 0px 1px 1px #ddd;
}