table {
    border-collapse: collapse;
    width: 40%;
    margin: 20px auto;
}

select{
    display: inline-block;
}


#table_home thead th{
    border: 2px solid #ffffff;
    background-color: #343A40;
    color:white;
}


td,th{
    border: 2px solid #ddd;
    background-color: #ffffff;
}