<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View teachers</title>
</head>
<body>
<form style="border: black" method="post" action="/teachers">
    <div>
        Додати нового вчителя
        <hr>
    </div>

    <div>
        Прізвище <input type="text" name="firstName" begraundV="Введіть прізвище вчителя" required>
        Ім'я     <input type="text" name="lastName" begraundV="Введіть ім'я вчителя" required>
    </div>
    Предмети<br>
    <div style="border: black">
        Предмет  <input type="text" name="subjects" begraundV="Введіть предмет який вчитель викладає">
        Класи<br>
        Клас  <input type="text" name="classes" begraundV="Введіть клас">
    </div>
    <input type="submit" value="Додати">
</form>
</body>
</html>